*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(192deg, #31065A 20%, #051937 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    max-width: 1440px;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
header{
    padding: 20px 0;

}
.btn{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    border-width:1px;
    border-color:#E51681 ;
    border-radius: 25px;
    cursor: pointer;
}
 
nav{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    gap: 150px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}
nav .menu a{
    cursor: pointer;
   text-decoration: none;
   font-size: 20px;
   font-weight: 500;
}
.hero{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}
.hero div{
    align-self: center;
    width: 50%;
}
.hero div h2{
    font-size: 55px;
    font-weight: 700;
    color: fff;
    line-height: 1.5em;
}
.hero div p{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-top: 20px;
}
.hero div button{
    margin-top: 40px;
}
.hero div img{
    width: 100%;
    max-width: 1600px;

}