*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    max-width: 1440px;
}
body{
    
    background: linear-gradient(192deg, #31065A 20%, #051937 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
header{
    padding: 20px 0;

}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}
.btn{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    border-width:1px;
    border-color:#E51681 ;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}
.btn:hover{
    background-color: #E51681;
    animation: float 0.6s ;

}
 
nav{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    gap: 150px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}
nav .menu a{
    cursor: pointer;
   text-decoration: none;
   font-size: 20px;
   font-weight: 500;  
}
nav .menu a:hover{
    color:#E51681;
    transition: 0.6s;

}
.hero{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}
.hero div{
    align-self: center;
    width: 50%;
}
.hero div h2{
    font-size: 55px;
    font-weight: 700;
    color: fff;
    line-height: 1.5em;
}
.hero div p{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-top: 20px;
}
.hero div button{
    margin-top: 40px;
}
.hero div img{
    width: 100%;
    max-width: 1600px;

}
h2{
    text-align: center;
    font-size: 60px;
    font-weight: 600px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

.services div{
    width: calc(33.333% - 25px);
    background-color: #051937;
    border: 1px solid #E51681;
    padding: 25px;
    border-radius: 25px;
  
}
.services div:hover{
    background-color: #E51681;
    
}
.services div img{
    margin-bottom: 10px;
}
.services div h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2em;

}
.services div p{
    font-size:18px ;
    font-weight: 500;
    line-height: 25px;
}

 .services div .button {
     font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    border-width:1px;
    border-color:#E51681 ;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services div .button:hover{
    background-color: #ffffff;
    color: #000;
    animation: float 0.6s ;

}